[Unit]
Description=node arbitrary script running dashboard
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=root
WorkingDirectory=/home/ubuntu/node-project
ExecStart=/usr/bin/npm start --production
ExecStop=/usr/bin/npm stop --production
Restart=on-failure

[Install]
WantedBy=multi-user.target
